/* You can add global styles to this file, and also import other style files */

html, body { height: 100% !important; 
}
body { 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, monospace, "Helvetica Neue", sans-serif; }


button{
    outline: none;
}

button:active {
    outline:none;
    box-shadow:none;
}

button:focus {
    outline:none;
    box-shadow:none;
}

.mat-dialog-container::-webkit-scrollbar{
    display: none;
}

.mat-tab-label{
    color: rgba(107, 102, 102, 0.678);
}

